# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

ios/build/
android/build/

# Xcode
ios/Pods/
ios/Podfile.lock
ios/Podfile.debug.lock
ios/Podfile.release.lock

# Android Studio
android/app/build/
android/build/intermediates/
android/build/outputs/
android/build/tmp/

# Gradle
android/gradle/wrapper/
android/gradlew
android/gradlew.bat

# Buck
buck-out/
.buckd/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
